DATABASE_URL=""
FRONTEND_URL="http://localhost:5173"
SESSION_SECRET=secret
NODE_ENV=development

MS_CLIENT_ID=
MS_CLIENT_SECRET=
MS_REDIRECT_URI=

OPENAI_API_KEY=

SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_BUCKET=